<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wuye.mapper.buildings.WuyeHouseBindCheckMapper">
    
    <resultMap type="WuyeHouseBindCheck" id="WuyeHouseBindCheckResult">
        <result property="checkId"    column="check_id"    />
        <result property="appletId"    column="applet_id"    />
        <result property="appletUserName"    column="name"    />
        <result property="appletUserIdNumber"    column="id_number"    />
        <result property="houseId"    column="house_id"    />
        <result property="buildingName"    column="building_name"    />
        <result property="unitName"    column="unit_name"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="certificate"    column="certificate"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="checkErrorMsg"    column="check_error_msg"    />
        <result property="createTime"    column="create_time"    />
        <result property="checkTime"    column="check_time"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectWuyeHouseBindCheckVo">
        select c.check_id, c.applet_id, a.name, a.id_number, c.house_id, 
        b3.name as district_name, b1.name as building_name, b2.name as unit_name, h.room_number,
        c.certificate, c.check_status, c.check_error_msg, c.create_time, c.check_time, c.user_id 
        from wuye_house_bind_check c
        left join wuye_applet_users a on c.applet_id = a.applet_id
        left join wuye_houses h on c.house_id = h.house_id
        left join wuye_building b1 on h.building_id = b1.id
        left join wuye_building b2 on h.unit_id = b2.id
        left join wuye_building b3 on h.district_id = b3.id
    </sql>

    <select id="selectWuyeHouseBindCheckList" parameterType="WuyeHouseBindCheck" resultMap="WuyeHouseBindCheckResult">
        <include refid="selectWuyeHouseBindCheckVo"/>
        <where>  
            <if test="appletId != null "> and c.applet_id = #{appletId}</if>
            <if test="appletUserName != null  and appletUserName != ''"> and a.name like concat('%', #{appletUserName}, '%')</if>
            <if test="appletUserIdNumber != null  and appletUserIdNumber != ''"> and a.id_number = #{appletUserIdNumber}</if>
            <if test="districtName != null and districtName != ''"> and b3.name like concat('%', #{districtName}, '%')</if>
            <if test="buildingName != null and buildingName != ''"> and b1.name like concat('%', #{buildingName}, '%')</if>
            <if test="unitName != null and unitName != ''"> and b2.name like concat('%', #{unitName}, '%')</if>
            <if test="roomNumber != null and roomNumber != ''"> and h.room_number like concat('%', #{roomNumber}, '%')</if>
            <if test="houseId != null "> and c.house_id = #{houseId}</if>
            <if test="certificate != null  and certificate != ''"> and c.certificate = #{certificate}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and c.check_status = #{checkStatus}</if>
            <if test="checkErrorMsg != null  and checkErrorMsg != ''"> and c.check_error_msg = #{checkErrorMsg}</if>
            <if test="checkTime != null "> and c.check_time = #{checkTime}</if>
            <if test="userId != null "> and c.user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectWuyeHouseBindCheckByCheckId" parameterType="Long" resultMap="WuyeHouseBindCheckResult">
        <include refid="selectWuyeHouseBindCheckVo"/>
        where c.check_id = #{checkId}
    </select>

    <insert id="insertWuyeHouseBindCheck" parameterType="WuyeHouseBindCheck" useGeneratedKeys="true" keyProperty="checkId">
        insert into wuye_house_bind_check
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appletId != null">applet_id,</if>
            <if test="houseId != null">house_id,</if>
            <if test="certificate != null">certificate,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="checkErrorMsg != null">check_error_msg,</if>
            <if test="createTime != null">create_time,</if>
            <if test="checkTime != null">check_time,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appletId != null">#{appletId},</if>
            <if test="houseId != null">#{houseId},</if>
            <if test="certificate != null">#{certificate},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="checkErrorMsg != null">#{checkErrorMsg},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="checkTime != null">#{checkTime},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateWuyeHouseBindCheck" parameterType="WuyeHouseBindCheck">
        update wuye_house_bind_check
        <trim prefix="SET" suffixOverrides=",">
            <if test="appletId != null">applet_id = #{appletId},</if>
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="certificate != null">certificate = #{certificate},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="checkErrorMsg != null">check_error_msg = #{checkErrorMsg},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where check_id = #{checkId}
    </update>

    <delete id="deleteWuyeHouseBindCheckByCheckId" parameterType="Long">
        delete from wuye_house_bind_check where check_id = #{checkId}
    </delete>

    <delete id="deleteWuyeHouseBindCheckByCheckIds" parameterType="String">
        delete from wuye_house_bind_check where check_id in 
        <foreach item="checkId" collection="array" open="(" separator="," close=")">
            #{checkId}
        </foreach>
    </delete>
</mapper>