<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wuye.mapper.buildings.WuyeHousesMapper">

    <resultMap type="WuyeHouses" id="WuyeHousesResult">
        <result property="houseId"    column="house_id"    />
        <result property="districtId"    column="district_id"    />
        <result property="buildingId"    column="building_id"    />
        <result property="unitId"    column="unit_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="area"    column="area"    />
        <result property="type"    column="type"    />
        <result property="houseNumber"    column="house_number"    />
        <result property="ownerNames"    column="owner_names"    />
        <result property="ownerMobiles"    column="owner_mobiles"    />
        <result property="ownerIdNumbers"    column="owner_id_numbers"    />
        <result property="isBind"    column="is_bind"    />
        <result property="districtName"    column="district_name"    />
        <result property="buildingName"    column="building_name"    />
        <result property="unitName"    column="unit_name"    />
    </resultMap>

    <sql id="selectWuyeHousesVo">
        SELECT h.house_id, h.district_id, h.building_id, h.unit_id, h.room_number, 
               h.area, h.type, h.house_number, h.owner_names, h.owner_mobiles, 
               h.owner_id_numbers, h.is_bind,
               d.name as district_name,
               b.name as building_name,
               u.name as unit_name
        FROM wuye_houses h
        LEFT JOIN wuye_building d ON h.district_id = d.id AND d.level = 1
        LEFT JOIN wuye_building b ON h.building_id = b.id AND b.level = 2
        LEFT JOIN wuye_building u ON h.unit_id = u.id AND u.level = 3
    </sql>

    <select id="selectWuyeHousesList" parameterType="WuyeHouses" resultMap="WuyeHousesResult">
        <include refid="selectWuyeHousesVo"/>
        <where>
            <if test="districtId != null "> and h.district_id = #{districtId}</if>
            <if test="buildingId != null "> and h.building_id = #{buildingId}</if>
            <if test="unitId != null "> and h.unit_id = #{unitId}</if>
            <if test="roomNumber != null  and roomNumber != ''"> and h.room_number = #{roomNumber}</if>
            <if test="area != null "> and h.area = #{area}</if>
            <if test="type != null  and type != ''"> and h.type = #{type}</if>
            <if test="houseNumber != null  and houseNumber != ''"> and h.house_number = #{houseNumber}</if>
            <if test="ownerNames != null  and ownerNames != ''"> and h.owner_names = #{ownerNames}</if>
            <if test="ownerMobiles != null  and ownerMobiles != ''"> and h.owner_mobiles = #{ownerMobiles}</if>
            <if test="ownerIdNumbers != null  and ownerIdNumbers != ''"> and h.owner_id_numbers = #{ownerIdNumbers}</if>
            <if test="isBind != null "> and h.is_bind = #{isBind}</if>
        </where>
    </select>

    <select id="selectWuyeHousesByHouseId" parameterType="Long" resultMap="WuyeHousesResult">
        <include refid="selectWuyeHousesVo"/>
        where h.house_id = #{houseId}
    </select>

    <!-- 根据业主信息查询房屋 -->
    <select id="selectHousesByOwnerInfo" resultMap="WuyeHousesResult">
        <include refid="selectWuyeHousesVo"/>
        where h.owner_names like concat('%', #{ownerName}, '%')
          and h.owner_id_numbers like concat('%', #{ownerIdNumber}, '%')
          and h.is_bind = 0
    </select>

    <insert id="insertWuyeHouses" parameterType="WuyeHouses" useGeneratedKeys="true" keyProperty="houseId">
        insert into wuye_houses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="districtId != null">district_id,</if>
            <if test="buildingId != null">building_id,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="roomNumber != null">room_number,</if>
            <if test="area != null">area,</if>
            <if test="type != null">type,</if>
            <if test="houseNumber != null">house_number,</if>
            <if test="ownerNames != null">owner_names,</if>
            <if test="ownerMobiles != null">owner_mobiles,</if>
            <if test="ownerIdNumbers != null">owner_id_numbers,</if>
            <if test="isBind != null">is_bind,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="districtId != null">#{districtId},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="unitId != null">#{unitId},</if>
            <if test="roomNumber != null">#{roomNumber},</if>
            <if test="area != null">#{area},</if>
            <if test="type != null">#{type},</if>
            <if test="houseNumber != null">#{houseNumber},</if>
            <if test="ownerNames != null">#{ownerNames},</if>
            <if test="ownerMobiles != null">#{ownerMobiles},</if>
            <if test="ownerIdNumbers != null">#{ownerIdNumbers},</if>
            <if test="isBind != null">#{isBind},</if>
        </trim>
    </insert>

    <update id="updateWuyeHouses" parameterType="WuyeHouses">
        update wuye_houses
        <trim prefix="SET" suffixOverrides=",">
            <if test="districtId != null">district_id = #{districtId},</if>
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="unitId != null">unit_id = #{unitId},</if>
            <if test="roomNumber != null">room_number = #{roomNumber},</if>
            <if test="area != null">area = #{area},</if>
            <if test="type != null">type = #{type},</if>
            <if test="houseNumber != null">house_number = #{houseNumber},</if>
            <if test="ownerNames != null">owner_names = #{ownerNames},</if>
            <if test="ownerMobiles != null">owner_mobiles = #{ownerMobiles},</if>
            <if test="ownerIdNumbers != null">owner_id_numbers = #{ownerIdNumbers},</if>
            <if test="isBind != null">is_bind = #{isBind},</if>
        </trim>
        where house_id = #{houseId}
    </update>

    <delete id="deleteWuyeHousesByHouseId" parameterType="Long">
        delete from wuye_houses where house_id = #{houseId}
    </delete>

    <delete id="deleteWuyeHousesByHouseIds" parameterType="String">
        delete from wuye_houses where house_id in
        <foreach item="houseId" collection="array" open="(" separator="," close=")">
            #{houseId}
        </foreach>
    </delete>
</mapper>